.body,
.section {
  font-family: 'IBM Plex Serif', serif, Icons;
  background-color: ##F6EEEF;
}

.active,
.primary {
  color: #ff4a00;
}

a {
  text-decoration: none;
}

a:hover {
  background: #ff4a00;
  color: white;
}

/* Hovered links */
/* SECTION */
.section {
  padding: 8rem 0 7rem;
}

/* NAV */
.navigation {
  text-align: left;
}

bdi {
  font-family: 'IBM Plex Mono', monospace;
}

.navigation .flourish {
  margin-bottom: 0;
}

.navigation .indented {
  padding-left: 8rem;
}

/* SHOWCASE */
.showcase-heading,
.showcase-description {
  margin-bottom: 1.2rem;
}

.showcase-heading {
  text-align: left;
}

.showcase-img {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}

/* SECTION-A */
.section-a {
  background-image: url('../img/section-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}

.section-a .fa {
  font-size: 40px;
  margin-bottom: .5rem;
  color: #beebff;
}

.section-a h5 {
  margin-bottom: .3rem;
}

/* SECTION-C */
.section-c {
  background-image: url('../img/section-bg.jpg');
  background-size: cover;
  color: #fff;
}

.section-c .section-description {
  margin-bottom: 4rem;
}

/* MEDIA QUERIES */
@media(min-width:750pxd) {
  .showcase-heading {
    font-size: 3.0rem;
    padding-top: 11rem;
  }
}
