.body,
.section {
  font-family: 'IBM Plex Serif', serif, Icons;
  background-color: ##F6EEEF;
}

.active,
.primary {
  color: #ff4a00;
}

a {
  text-decoration: none;
  color: #ff4a00;
}

a:hover {
  background: #ff4a00;
  color: white;
}

h1 {
  font-family: 'IBM Plex Serif 700', serif;
}

/* SECTION */
.section {
  padding: 1rem 0 1rem;
}

.header {
  padding: 1rem;
}

/* NAV */
.navigation {
  text-align: left;
}

bdi {
  font-family: 'IBM Plex Mono', monospace;
  color: white;
}

.navigation .flourish {
  margin-bottom: 0;
}

.navigation .indented {
  padding-left: 8rem;
}

.navigation table tbody td {
  padding: 0px;
  border: 0px;
}

ul {
  list-style-type: none;
}

.legend td {
  font-family: 'IBM Plex Mono', monospace;
  color: white;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.legend td:hover {
  width: 100%;
  box-sizing: border-box;
}

/* MEDIA QUERIES */
@media(min-width:750px) {
  .showcase-heading {
    font-size: 3.0rem;
    padding-top: 11rem;
  }
}
