@font-face {
    font-family: "space mono", monospace;
    font-display: auto;
    src: local('space mono'), url(https://fonts.googleapis.com/css?family=Space+Mono);
}

body::-webkit-scrollbar { width: 0 !important }

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Space Mono', monospace;
    overflow-wrap: break-word;

}

/* -- LOAD -- */

#load-anim-container {
    height: 100%;
    width: 100%;
    transition-delay: .5s;
}
#load-anim-bar {
    position: fixed;
    width: 0%;
    background-color: #333;
    color: #fff;
}
#load-cta-container {
    width: 50vw;
    padding: 48vh 25vw;
    transition: visibility 0s;
    transition-delay: .5s;
}
#load-cta-copy {
    z-index: 1;
    position: relative;
    visibility: visible;
    opacity: 0;
    transition: opacity 2s;
    margin: auto;
    color: white;
    border: 2px solid white;
    text-align: center;
}
#load-cta-copy:hover {
    color: rgba(234, 64, 237, 1.00);
    background: rgba(115, 251, 253, 1.00);
    border-color: rgba(234, 64, 237, 1.00);
    cursor: pointer;
}

/* -- HEADER -- */

.logo {
    display: inline;
    float: left;
    padding: 10px;
    margin: auto;
}
.logo img {
    height: 40px;
    width: 326px;
    margin: 0;
}
ul {
    display: block;
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    float: right;
}
li {
    line-height: 60px;
    margin: auto;
    float: left;
    vertical-align: middle;
    display: inline;
    color: white;
    text-align: right;
    padding: 0px 8px;
    text-decoration: none;
}
li:hover {
    color: rgba(234, 64, 237, 1.00);
    background-color: #111;
    border-color: rgba(234, 64, 237, 1.00);
    cursor: pointer;
}
li.active {
    color: rgba(115, 251, 253, 1.00);
}
#header {
    position: fixed;
    top: 0;
    z-index: -1;
    padding: 0px 10px;
    width: calc(100% - 20px);
    background-color: #333;
    align-content: center;
    text-align: center;
    visibility: hidden;
    transition: opacity 3s;
    transition: visibility 3s;
    transition-delay: 1s;
    opacity: 0;

}

#main {
    visibility: hidden;
    transition: visibility 3s;
    transition-delay: 1s;
    position: absolute;
    z-index: -2;
    top: 60px;
    width: 100%;
    justify-content: center;
    height: calc(100vh - 60px);
    overflow: hidden;
}

/* -- PROJECT -- */

.project-grid-container {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    margin: 10px;
    border: black 2px solid;
    width: calc(100% - 24px);
}
.solo {
    height: calc(100% - 24px);
}
.item1 {
    width: 66.66%;
}
img {
    display: block;
    vertical-align: top;
    margin: 0;
    width: 100%;
}
.item2 {
    width: 33.33%;
    position: relative;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
h1 {
    flex-basis: auto;
    padding: 0px;
    margin: 0px;
}
.text {
    flex-grow: 1;
    overflow: hidden;
    height: 100px;
}
p {
    margin: 0;
    padding: 0px;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 300;
    text-align: left;
    white-space: pre-wrap;
    overflow: hidden;
}

.project-button {
    align-self: flex-end;
    border: 2px solid black;
    width: -webkit-fit-content;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}
.project-button:hover {
    color: rgba(234, 64, 237, 1.00);
    background: rgba(115, 251, 253, 1.00);
    border-color: rgba(234, 64, 237, 1.00);
    cursor: help;
}

/* -- VIMEO -- */

.resp-container {

}
.resp-iframe {

}
iframe {
    align-items: baseline;
    margin: 0;
    max-width: 1920px;
    height: 67vh;
    width: 100%;
    border: none;
}

/* -- MOBILE -- */

@media only screen and (orientation: portrait) {
    p {
        -webkit-line-clamp: 3;
    }
    header {
        height: 100px;
    }
    .project-grid-container {
        display: block;
    }
    #main {
        top: 100px;
        height: calc(100vh - 100px);

    }
    ul {
        float: right;
    }
    .item1 {
        width: 100%;
    }
    .item2 {
        width: calc(100% - 100px);
    }
}