@keyframes fillPercentBarX {
    100% {
        width: 100%;
    }
}
@keyframes fillPercentBarY {
    100% {
        height: 100%;
    }
}
@keyframes enterPercentBar {
    0% {
        height: 100%;
        top: 0;
        width: 100%;
    }
    100% {
        height: 60px;
        visibility: hidden;
    }
}
@keyframes opaque {
    100% {
        opacity: 1;
    }
}
@keyframes visi {
    100% {
        visibility: visible;
    }
}
/* -- MOBILE -- */
html {
    font-size: 14px;
    height: 100%;
}
body::-webkit-scrollbar {
    width: 0 !important
}
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Space Mono', monospace;
    overflow-wrap: break-word;
    background: white;
}
img {
    vertical-align: top;
    object-fit: contain;
    height: 100%;
    width: 100%;
}
/* -- LOAD -- */
#load-anim-container {
    z-index: 20;
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
#load-percent-bar {
    position: fixed;
    animation: fillPercentBarX .5s linear 0s 1 normal forwards running, fillPercentBarY .5s ease-in .5s 1 normal forwards running;
    height: 5px;
    width: 0px;
    background-color: #333;
    color: #fff;
}
#button-container {
    display: flex;
    justify-content: center;
    width: 50vw;
}
#load-button {
    position: relative;
    visibility: hidden;
    display: flex;
    padding: 10px;
    opacity: 0;
    color: white;
    animation: visi 0s linear 1s 1 normal forwards running, opaque .5s linear 1s 1 normal forwards running;
    border: 2px solid white;
    alight-content: center;
}
#load-image {
    position: absolute;
    width: 200px;
    height: 200px;
    top: calc(50% - 22px);
    clip-path: inset(0px 0px 200px 0px);
    -webkit-clip-path: inset(0px 0px 200px 0px);
    transition: all .5s;
    margin: 0px auto;
    cursor: pointer;
}

#button-container:hover #load-button {
    color: rgba(234, 64, 237, 1.00);
    background: rgba(115, 251, 253, 1.00);
    border-color: rgba(234, 64, 237, 1.00);
    cursor: n-resize;
}

#button-container:hover #load-image {
    top: calc(50% - 222px);
    clip-path: inset(0px 0px 0px 0px);
    -webkit-clip-path: inset(0px 0px 0px 0px);
}
/* -- HEADER -- */
#header {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #333;
    align-content: center;
    text-align: center;
    visibility: visible;
    transition: opacity 3s;
    transition: visibility 3s;
    transition-delay: 1s;
    opacity: 0;
}
.logo {
    align-self: flex-start;
    display: inline;
    float: left;
    margin: 10px;
    height: 40px;
    width: 200px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("img/Logo-mobile.png");
    
}
.logo img {
    margin: 0;
}
ul {
    display: block;
    list-style-type: none;
    margin: 0 0 0 auto;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    float: right;
}
li {
    line-height: 60px;
    margin: auto;
    float: left;
    vertical-align: middle;
    display: inline;
    color: white;
    text-align: right;
    padding: 0px 8px;
    text-decoration: none;
}
li:hover {
    color: rgba(234, 64, 237, 1.00);
    background-color: #111;
    border-color: rgba(234, 64, 237, 1.00);
    cursor: pointer;
}
li.active {
    color: rgba(115, 251, 253, 1.00);
}
#main {
    position: absolute;
    top: 0px;
    width: 100%;
    visibility: hidden;
    justify-content: center;
    overflow: hidden;
    padding: 0 0 1px 0;
}
#tr-header {
    position: relative;
    top: 0px;
    height: 60px;
    width: 100%;
    background: transparent;
}
#gallery-wrapper {
}
/* -- PROJECT -- */
.project-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: black 2px solid;
    width: calc(100% - 44px);
    max-height: calc(100% - 44px);
}
.item1 {
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 0;
    max-height: calc(100% - 44px);
    width: 100%;
    height: fit-content;
}
.item2 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-shrink: 1;
    min-height: 0;
    width: 100%;
}
h1 {
    padding: 0px;
    margin: 0px;
    font-size: 2rem;
}
.text {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    white-space: pre-line;
}
p {
    margin: 0;
    padding: 0px;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 300;
    text-align: left;
    white-space: pre-wrap;
    overflow: hidden;
}
.project-button {
    border: 2px solid black;
    width: -webkit-fit-content;
    margin-top: 10px;
    padding: 10px;
    align-self: flex-end;
    text-align: center;
}
.project-button:hover {
    color: rgba(234, 64, 237, 1.00);
    background: rgba(115, 251, 253, 1.00);
    border-color: rgba(234, 64, 237, 1.00);
    cursor: help;
}
#tr-footer {
    height: 1px;
    width: 100%;
    background: transparent;
}
/* -- VIMEO -- */
.resp-container {}
.resp-iframe {}
iframe {
    align-items: baseline;
    margin: 0;
    max-width: 1920px;
    height: 67vh;
    width: 100%;
    border: none;
}

.hidden {
    display: none;
}

/* -- DESKTOP --*/

@media only screen and (min-width: 800px) {
    .project-container {
        flex-direction: row;
        padding: 0px;
        margin: 10px auto;
        width: calc(100% - 24px);
        max-width: 1390px;
    }
    .item1 {
        width: 66.66%;
    }
    .item2 {
        width: 33.33%;
        padding: 50px;
    }
}