body {
    margin: 0px;
    padding: 0px;
    font-family: 'Space Mono', monospace;
    overflow-wrap: break-word;
}
img {
    display: block;
    vertical-align: top;
    align-items: center;
    margin: auto;
    width: 100%;
}
p {
    margin: 0;
    padding: 0px;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 300;
    white-space: pre-line;
    word-break: keep-all;
    word-wrap: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;  
}
h2 {
    padding: 0px;
    margin: 0px;
}
#main {
    visibility: hidden;
    transition: visibility 3s;
    transition-delay: 1s;
}
#load-anim-container {
    height: 100%;
    width: 100%;
    transition-delay: .5s;
}
#load-anim-bar {
    position: fixed;
    width: 0%;
    background-color: #333;
    color: #fff;
}
#load-cta-container {
    width: 50vw;
    padding: 48vh 25vw;
    transition: visibility 0s;
    transition-delay: .5s;
}
#load-cta-copy {
    z-index: 1;
    position: relative;
    visibility: visible;
    opacity: 0;
    transition: opacity 2s;
    margin: auto;
    color: white;
    border: 2px solid white;
    text-align: center;
}
#load-cta-copy:hover {
    color: rgba(234, 64, 237, 1.00);
    background: rgba(115, 251, 253, 1.00);
    border-color: rgba(234, 64, 237, 1.00);
    cursor: pointer;
}
#main {
    position: absolute;
    z-index: -2;
    top: 60px;
    width: 100%;
}
#main-container {
    overflow-y: scroll;
    z-index: -3;
    height: calc(100vh - 60px);
    justify-content: center;
}

/* -- PROJECT -- */
#project {
    padding: 10px;
    display: block;
    vertical-align: top;
}
#project-thumbnail {
    display: inline;
    width: 50%;
}
#project-text {
    display: inline-flex;
    align-items: center;
    
}
#project-button {
    border: 2px solid black;
    width: -webkit-fit-content;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
}
#project-button:hover {
    color: rgba(234, 64, 237, 1.00);
    background: rgba(115, 251, 253, 1.00);
    border-color: rgba(234, 64, 237, 1.00);
    cursor: help;
}
.project-grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0px;
    padding: 0px;
    margin: 10px;
    border: black 2px solid;
    width: calc(100% - 24px);
}
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
#item2 {
    margin: 50px;
    max-width: 100%;
}
.description {
}
/* -- VIMEO -- */

.resp-container {

}
.resp-iframe {

}
iframe {
    align-items: baseline;
    margin: 0;
    max-width: 1920px;
    height: 67vh;
    width: 100%;
    border: none;
}

/* -- HEADER -- */

.logo {
    display: inline;
    float: left;
    padding: 10px;
    margin: auto;
}
.logo img {
    height: 40px;
    width: 326px;
    margin: 0;
}
ul {
    display: block;
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    float: right;
}
li {
    line-height: 60px;
    margin: auto;
    float: left;
    vertical-align: middle;
    display: inline;
    color: white;
    text-align: right;
    padding: 0px 8px;
    text-decoration: none;
}
li:hover {
    color: rgba(234, 64, 237, 1.00);
    background-color: #111;
    border-color: rgba(234, 64, 237, 1.00);
    cursor: pointer;
}
li.active {
    color: rgba(115, 251, 253, 1.00);
}
#header {
    visibility: hidden;
    transition: visibility 3s;
    transition-delay: 1s;
    opacity: 0;
    transition: opacity 3s;
    z-index: -1;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #333;
    align-content: center;
    text-align: center;
}
/* -- OLD -- */

.main-body {
    position: fixed;
    z-index: -1;
    top: 60px;
    width: 100%;
    padding: 0px;
    justify-content: center;
}

/* -- MOBILE -- */

@media only screen and (max-width: 800px) {
    .project-grid-container {
        display: block;
    }
}