@keyframes fillPercentBar {
    0% {
        height: 5px;
        width: 0px;
    }
    50% {
        width: 100%;
        height: 5px;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}
@keyframes enterPercentBar {
    0% {
        height: 100%;
        width: 100%;
        top: 0;
    }
    50% {
        top: 0;
        height: 60px;
        width: 100%;
        opacity: 1;
    }
    100% {
        top: 0;
        height: 60px;
        width: 100%;
        opacity: 0;
    }
}
@keyframes opaque {
    100% {
        opacity: 1;
    }
}
@keyframes visi {
    100% {
        visibility: visible;
    }
}
/* -- MOBILE -- */
html {
    font-size: 14px;
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Space Mono', monospace;
    overflow-wrap: break-word;
    background: white;
}
img {
    vertical-align: top;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}
/* -- LOAD -- */
#load-anim-container {
    z-index: 20;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
#load-percent-bar {
    position: absolute;
    animation: fillPercentBar 1s linear 0s 1 normal forwards running;
    background-color: #333;
    color: #fff;
}
#button-container {
    display: flex;
    justify-content: center;
    width: 50vw;
    cursor: pointer;
}
#load-button {
    position: relative;
    visibility: hidden;
    display: flex;
    padding: 10px;
    width: 300px;
    justify-content: center;
    opacity: 0;
    color: white;
    animation: visi 0s linear 1s 1 normal forwards running, opaque .5s linear 1s 1 normal forwards running;
    border: 2px solid white;
    alight-content: center;
}
#load-image {
    position: absolute;
    width: 200px;
    height: 200px;
    top: calc(50% - 22px);
    clip-path: inset(0px 0px 200px 0px);
    -webkit-clip-path: inset(0px 0px 200px 0px);
    transition: all .5s;
    margin: 0px auto;
}
#button-container:hover #load-button {
    color: rgba(234, 64, 237, 1.00);
    background: rgba(115, 251, 253, 1.00);
    border-color: rgba(234, 64, 237, 1.00);
}
#button-container:hover #load-image {
    top: calc(50% - 222px);
    clip-path: inset(0px 0px 0px 0px);
    -webkit-clip-path: inset(0px 0px 0px 0px);
}
#main {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    justify-content: center;
    overflow: hidden;
}
/* -- HEADER -- */
#tr-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    background-color: #333;
    align-content: center;
    text-align: center;
    visibility: hidden;
}
.logo {
    align-self: flex-start;
    display: inline;
    float: left;
    margin: 10px;
    height: 40px;
    width: 200px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("img/Logo-mobile.png");
}
.logo img {
    margin: 0;
}
ul {
    display: block;
    list-style-type: none;
    margin: 0 0 0 auto;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    float: right;
}
li {
    line-height: 60px;
    margin: auto;
    float: left;
    vertical-align: middle;
    display: inline;
    color: white;
    text-align: right;
    padding: 0px 8px;
    text-decoration: none;
}
li:hover {
    color: rgba(234, 64, 237, 1.00);
    background-color: #111;
    border-color: rgba(234, 64, 237, 1.00);
    cursor: pointer;
}
li.active {
    color: rgba(115, 251, 253, 1.00);
}
#gallery-wrapper {
    height: calc(100% - 60px);
    width: 100%;
    margin: 60px 0px;
    z-index: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
#gallery-wrapper::-webkit-scrollbar {
    width: 0 !important;
}
#gallery {
    padding: 0px 10px;
    width: calc(100% - 20px);
}
/* -- PROJECT -- */
.project-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    margin: 10px 0px;
    border: black 2px solid;
}
.item1 {
    width: 100%;
    min-height: 0;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item1 > img {
    max-height: 80vh;
}
.item2 {
    width: 100%;
    min-height: 0;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-shrink: 1;
}
h1 {
    padding: 0px;
    margin: 0px;
    font-size: 2rem;
}
.text {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
    padding: 0px;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 300;
}
.project-button {
    border: 2px solid black;
    width: -webkit-fit-content;
    margin-top: 10px;
    padding: 10px;
    align-self: flex-end;
    text-align: center;
}
.project-button:hover {
    color: rgba(234, 64, 237, 1.00);
    background: rgba(115, 251, 253, 1.00);
    border-color: rgba(234, 64, 237, 1.00);
    cursor: help;
}
.about img {
    clip-path: circle(50%);
    -webkit-clip-path: circle(50%);
    object-fit: cover;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 600px;
}
#tr-footer {
    height: 1px;
    width: 100%;
    background: transparent;
}
/* -- VIMEO -- */
.resp-container {}
.resp-iframe {}
iframe {
    align-items: baseline;
    margin: 0;
    max-width: 1920px;
    height: 67vh;
    width: 100%;
    border: none;
}
/* -- DESKTOP --*/
@media only screen and (min-width: 800px) {
    .logo {
        background-image: url("img/Logo.png");
        width: 400px;
    }
    #gallery {
        max-width: 1390px;
        margin: 0px auto;
    }
    .project-container {
        flex-direction: row;
    }
    .item1 {
        width: 66.66%;
    }
    .about .item1 { 
    }
    .item2 {
        width: 33.33%;
        padding: 50px;
    }
}
.hidden {
    display: none;
}
.solo {
    flex-direction: column;
    align-items: center;
    height: none;
    max-height: none;
    padding: 10px;
}
.solo * {
    margin: 10px auto;
}